@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: "Poppins","Hind Siliguri",sans-serif;
}
:root{
	--main-color: rgb(250, 46, 108);
}
.container{
	background-color: rgba(246, 246, 246, 0.548);

}

/*--------------------		
	header section
---------------------- */

.heading {
	font-size: 36px;
	font-weight: 600;
	color: var(--main-color);
	padding: 20px 0;
	margin-bottom: 0;
}


/*--------------------		
	calculate section
---------------------- */

.calc-img {
	display: flex;
	justify-content: center;
}
.calc-img img {
	height: 650px;
	width: 610px;
}

.calc-container {
	color: rgb(107, 107, 107);
	display: flex;
	align-items: center;
	height: 100%;
}
.calc-container h3 {
	font-size: 33px;
	font-weight: 600;
	color: rgb(110, 110, 110);
}
.calc-container label {
	display: block;
	text-align: right;
	width: 236px;
}
.calc-box {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.calc-container label input {
	width: 154px;
	margin: 10px 0;
	display: inline-block;
	border: 2px solid gray;
	border-radius: 7px;
	text-align: center;
	color: var(--main-color);
}
.calc-container label input:focus{
	border: 2px solid var(--main-color);
 outline: none;
}
.calc-container h4 {
	font-size: 22px;
	margin-top: 15px;
	width: 236px;
}

.buttn {
	border: none;
	padding: 10px 20px;
	background: var(--main-color);
	color: white;
	font-weight: 700;
	border-radius: 30px;
}
#error-messgae {
	color: rgb(255, 46, 46);
	padding: 6px 7px;
	border-radius: 5px;
	display: none;
}
#error-savings {
	color: rgb(255, 46, 46);
	padding: 6px 7px;
	border-radius: 5px;
	display: none;
}

.buttn:active{
	background-color: rgb(153, 26, 64);
}
.save-box h5 {
	margin-bottom: 0;
	margin-right: 10px;
}
.save-box label {
	text-align: center;
	width: auto;
}
.save-box button{}
#save {
	width: 72px;
	border: 2px solid gray;
	border-radius: 5px;
	margin: 0 10px;
}
#remaning {
	color: rgb(66, 66, 66);
	width: 312px;
	font-weight: 600;
}



/*--------------------		
	respinsive layout
---------------------- */

@media (max-width : 550px) {
	
	.heading {
		font-size: 22px;
	}
	.calc-img img {
		height: 436px;
		width: 332px;
	}
	.calc-container h4 {
		font-size: 18px;
		margin-top: 15px;
		width: 236px;
	}
	.calc-container h3 {
		font-size: 29px;
	}
	.calc-container h4 {
		font-size: 18px;
		margin-top: 6px;
	}
	.calc-container label {
		font-size: 15px;
	}
	.buttn {
		padding: 8px 17px;
		font-size: 15px;
	}

}